.main-content {
    text-align: center;
}

.title {
    font-size: 50px;
}

.list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline li {
    display: inline;
}

a:link {
    text-decoration: none;
    color: #2A5DB0;
}

/* visited link */
a:visited {
    color: #2200CC;
}

/* mouse over link */
a:hover {
    color: #3498db;
}
